.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 35px 35px;
}

.header-logo {
  padding-top: 34px;
  padding-left: 135px;
  transform: translateY(5px);
}
